.header {
	image-orientation: center;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #cccccc;
	height: 80px;
	padding: 0 24px;
	display: flex;
	align-items: center;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
	background: white;
}

.logo {
	background-image: url('../images/logo.png');
	min-width: 100%;
	min-height: 100%;
	background-repeat: no-repeat;
	background-position: 20px;
}