header {
	image-orientation: center;
	background-color: #ffffff;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #cccccc;
}

.header {
	height: 80px;
	padding: 0 24px;
	display: flex;
	align-items: center;
	box-shadow: rgba(0, )
}