.places {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.places article {
	width: 390px;
	margin: 20px;
	padding: 20px;
	border: #FF5A5F solid 1px;
	border-radius: 4px;
	text-align: center;
}

.places h1 {
	font-size: 30px;
	flex-basis: 100%;
	margin-bottom: 0px;
}

.places h2 {
	font-size: 30px;
	align-self: center;
}

.h4 {
	text-size-adjust: 24;
}